################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/HospitalSystem/bin
/HospitalSystem/obj
/HospitalSystem.Backend/bin
/HospitalSystem.Backend/obj
