<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mx7dev-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>net5.0</TargetFramework>
    <ProjectGuid>fc5b019f-a448-434c-b596-92cb272983f9</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>https://mx7dev-001-site1.itempurl.com:8172/msdeploy.axd?site=mx7dev-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>mx7dev-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>mx7dev-001</UserName>
    <_SavePWD>False</_SavePWD>
  </PropertyGroup>
</Project>